In [1]:
#Import all libraries I will need

import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.compat import lzip
from statsmodels.sandbox.regression.gmm import IV2SLS

In [2]:
desi = pd.read_csv("H:/Dissertation/desi.csv")
print(desi)
desi_country_list = desi.CATEGORY.unique().tolist()
print(desi_country_list)

                      SERIES     CATEGORY CODE      VALUE  NOTE  FLAG
0              Human Capital      Finland   FI  17.847650   NaN   NaN
1              Human Capital      Denmark   DK  14.796675   NaN   NaN
2              Human Capital  Netherlands   NL  15.781750   NaN   NaN
3              Human Capital       Sweden   SE  15.494350   NaN   NaN
4              Human Capital      Ireland   IE  15.660500   NaN   NaN
..                       ...          ...  ...        ...   ...   ...
107  Digital Public Services     Slovakia   SK  12.999450   NaN   NaN
108  Digital Public Services       Poland   PL  13.940675   NaN   NaN
109  Digital Public Services       Greece   EL   9.846400   NaN   NaN
110  Digital Public Services     Bulgaria   BG  12.974125   NaN   NaN
111  Digital Public Services      Romania   RO   5.260825   NaN   NaN

[112 rows x 6 columns]
['Finland', 'Denmark', 'Netherlands', 'Sweden', 'Ireland', 'Malta', 'Spain', 'Luxembourg', 'Estonia', 'Austria', 'Slovenia', 'France', 'Germany', 'Lithuania', 'European Union', 'Portugal', 'Belgium', 'Latvia', 'Italy', 'Czechia', 'Cyprus', 'Croatia', 'Hungary', 'Slovakia', 'Poland', 'Greece', 'Bulgaria', 'Romania']

In [3]:
def aggregate_desi(country):
    country_desi = desi[desi.CATEGORY == country]
    score = country_desi.VALUE.sum()
    return score

print(aggregate_desi("Finland"))

69.59762500000001

In [4]:
capital = pd.read_csv("H:/Dissertation/capital_stock.csv")
capital2020 = capital[(capital.Time == 2020) & (capital.Indicator == "Net capital stock, volume, year 2015 = 100")]
capital2020.reset_index(inplace=True, drop = True)
capital2020.loc[4, "Country"] = "Czechia"
print(capital2020)
print(len(capital2020))
capital_country_list = list(capital2020.Country)
print(capital_country_list)

   LOCATION          Country   INDICATOR  \
0       AUS        Australia  AN11NVIXOB
1       AUT          Austria  AN11NVIXOB
2       BEL          Belgium  AN11NVIXOB
3       CAN           Canada  AN11NVIXOB
4       CZE          Czechia  AN11NVIXOB
5       FIN          Finland  AN11NVIXOB
6       FRA           France  AN11NVIXOB
7       DEU          Germany  AN11NVIXOB
8       HUN          Hungary  AN11NVIXOB
9       ITA            Italy  AN11NVIXOB
10      NLD      Netherlands  AN11NVIXOB
11      POL           Poland  AN11NVIXOB
12      SVK  Slovak Republic  AN11NVIXOB
13      SWE           Sweden  AN11NVIXOB
14      USA    United States  AN11NVIXOB
15      EST          Estonia  AN11NVIXOB
16      SVN         Slovenia  AN11NVIXOB
17      DNK          Denmark  AN11NVIXOB
18      GBR   United Kingdom  AN11NVIXOB
19      GRC           Greece  AN11NVIXOB
20      LVA           Latvia  AN11NVIXOB
21      LUX       Luxembourg  AN11NVIXOB
22      JPN            Japan  AN11NVIXOB
23      PRT         Portugal  AN11NVIXOB
24      LTU        Lithuania  AN11NVIXOB
25      ESP            Spain  AN11NVIXOB

                                     Indicator  TIME  Time  Unit Code  Unit  \
0   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
1   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
2   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
3   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
4   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
5   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
6   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
7   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
8   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
9   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
10  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
11  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
12  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
13  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
14  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
15  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
16  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
17  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
18  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
19  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
20  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
21  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
22  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
23  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
24  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
25  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN

    PowerCode Code PowerCode  Reference Period Code  Reference Period  \
0                0     Units                    NaN               NaN
1                0     Units                    NaN               NaN
2                0     Units                    NaN               NaN
3                0     Units                    NaN               NaN
4                0     Units                    NaN               NaN
5                0     Units                    NaN               NaN
6                0     Units                    NaN               NaN
7                0     Units                    NaN               NaN
8                0     Units                    NaN               NaN
9                0     Units                    NaN               NaN
10               0     Units                    NaN               NaN
11               0     Units                    NaN               NaN
12               0     Units                    NaN               NaN
13               0     Units                    NaN               NaN
14               0     Units                    NaN               NaN
15               0     Units                    NaN               NaN
16               0     Units                    NaN               NaN
17               0     Units                    NaN               NaN
18               0     Units                    NaN               NaN
19               0     Units                    NaN               NaN
20               0     Units                    NaN               NaN
21               0     Units                    NaN               NaN
22               0     Units                    NaN               NaN
23               0     Units                    NaN               NaN
24               0     Units                    NaN               NaN
25               0     Units                    NaN               NaN

         Value Flag Codes                      Flags
0   109.553878        NaN                        NaN
1   107.527495        NaN                        NaN
2   108.356983          E            Estimated value
3   108.830443        NaN                        NaN
4   112.471778        NaN                        NaN
5   107.373047        NaN                        NaN
6   105.814214          E            Estimated value
7   104.215454          E            Estimated value
8   108.788504        NaN                        NaN
9    99.631874        NaN                        NaN
10  107.196714        NaN                        NaN
11  114.213050        NaN                        NaN
12  109.259242        NaN                        NaN
13  111.509484          D  Difference in methodology
14  107.338049        NaN                        NaN
15  118.801299        NaN                        NaN
16   99.372142        NaN                        NaN
17  111.295010        NaN                        NaN
18  107.464019        NaN                        NaN
19   90.566558          E            Estimated value
20   99.744933        NaN                        NaN
21  114.388246        NaN                        NaN
22  101.559542        NaN                        NaN
23   99.034548        NaN                        NaN
24  115.895004        NaN                        NaN
25  104.484148          E            Estimated value
26
['Australia', 'Austria', 'Belgium', 'Canada', 'Czechia', 'Finland', 'France', 'Germany', 'Hungary', 'Italy', 'Netherlands', 'Poland', 'Slovak Republic', 'Sweden', 'United States', 'Estonia', 'Slovenia', 'Denmark', 'United Kingdom', 'Greece', 'Latvia', 'Luxembourg', 'Japan', 'Portugal', 'Lithuania', 'Spain']

In [5]:
labour = pd.read_csv("H:/Dissertation/labour.csv")
new_headers = labour.iloc[3]
labour = labour.iloc[4:].reset_index(drop=True)
labour = labour.set_axis(new_headers, axis=1, inplace=False)
print(labour)
labour_countries_list = list(labour["Country Name"])
print(labour_countries_list)

3                   Country Name Country Code      Indicator Name  \
0                          Aruba          ABW  Labor force, total
1    Africa Eastern and Southern          AFE  Labor force, total
2                    Afghanistan          AFG  Labor force, total
3     Africa Western and Central          AFW  Labor force, total
4                         Angola          AGO  Labor force, total
..                           ...          ...                 ...
261                       Kosovo          XKX  Labor force, total
262                  Yemen, Rep.          YEM  Labor force, total
263                 South Africa          ZAF  Labor force, total
264                       Zambia          ZMB  Labor force, total
265                     Zimbabwe          ZWE  Labor force, total

3    Indicator Code  1960.0  1961.0  1962.0  1963.0  1964.0  1965.0  ...  \
0    SL.TLF.TOTL.IN     NaN     NaN     NaN     NaN     NaN     NaN  ...
1    SL.TLF.TOTL.IN     NaN     NaN     NaN     NaN     NaN     NaN  ...
2    SL.TLF.TOTL.IN     NaN     NaN     NaN     NaN     NaN     NaN  ...
3    SL.TLF.TOTL.IN     NaN     NaN     NaN     NaN     NaN     NaN  ...
4    SL.TLF.TOTL.IN     NaN     NaN     NaN     NaN     NaN     NaN  ...
..              ...     ...     ...     ...     ...     ...     ...  ...
261  SL.TLF.TOTL.IN     NaN     NaN     NaN     NaN     NaN     NaN  ...
262  SL.TLF.TOTL.IN     NaN     NaN     NaN     NaN     NaN     NaN  ...
263  SL.TLF.TOTL.IN     NaN     NaN     NaN     NaN     NaN     NaN  ...
264  SL.TLF.TOTL.IN     NaN     NaN     NaN     NaN     NaN     NaN  ...
265  SL.TLF.TOTL.IN     NaN     NaN     NaN     NaN     NaN     NaN  ...

3         2012.0       2013.0       2014.0       2015.0       2016.0  \
0            NaN          NaN          NaN          NaN          NaN
1    224270791.0  231255256.0  238203331.0  246038744.0  253584828.0
2      7520865.0    7881567.0    8285362.0    8630723.0    8913938.0
3    131273550.0  131843021.0  134957702.0  138543056.0  142343598.0
4     10567502.0   10968059.0   11377339.0   11795339.0   12233354.0
..           ...          ...          ...          ...          ...
261          NaN          NaN          NaN          NaN          NaN
262    5630460.0    5733676.0    5832366.0    6079853.0    6304325.0
263   19973138.0   20468028.0   20891740.0   21878157.0   22112476.0
264    5911349.0    6127919.0    6355282.0    6590581.0    6833729.0
265    6234698.0    6435183.0    6655017.0    6836271.0    7024925.0

3         2017.0       2018.0       2019.0       2020.0       2021.0
0            NaN          NaN          NaN          NaN          NaN
1    261328490.0  269106599.0  277366044.0  278159718.0  289391094.0
2      9254594.0    9610077.0    9981792.0    9105733.0    9390149.0
3    146308854.0  150497179.0  154859306.0  156461466.0  161849621.0
4     12690375.0   13155619.0   13633330.0   13922090.0   14462432.0
..           ...          ...          ...          ...          ...
261          NaN          NaN          NaN          NaN          NaN
262    6527255.0    6746586.0    6969191.0    7101626.0    7298663.0
263   22392953.0   22556993.0   22876128.0   21181686.0   22397601.0
264    7084520.0    7343228.0    7611604.0    7822109.0    8113422.0
265    7214627.0    7403981.0    7591946.0    7693983.0    7915768.0

[266 rows x 66 columns]
['Aruba', 'Africa Eastern and Southern', 'Afghanistan', 'Africa Western and Central', 'Angola', 'Albania', 'Andorra', 'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana', 'Central African Republic', 'Canada', 'Central Europe and the Baltics', 'Switzerland', 'Channel Islands', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands', 'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'East Asia & Pacific (excluding high income)', 'Early-demographic dividend', 'East Asia & Pacific', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.', 'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'European Union', 'Fragile and conflict affected situations', 'Finland', 'Fiji', 'France', 'Faroe Islands', 'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala', 'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China', 'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total', 'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India', 'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait', 'Latin America & Caribbean (excluding high income)', 'Lao PDR', 'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Latin America & Caribbean', 'Least developed countries: UN classification', 'Low income', 'Liechtenstein', 'Sri Lanka', 'Lower middle income', 'Low & middle income', 'Lesotho', 'Late-demographic dividend', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China', 'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico', 'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Middle East & North Africa (excluding high income)', 'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman', 'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend', 'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay', 'West Bank and Gaza', 'Pacific island small states', 'Post-demographic dividend', 'French Polynesia', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'South Asia', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia', 'Sub-Saharan Africa (excluding high income)', 'South Sudan', 'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'East Asia & Pacific (IDA & IBRD countries)', 'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand', 'Tajikistan', 'Turkmenistan', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)', 'Tonga', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan', 'St. Vincent and the Grenadines', 'Venezuela, RB', 'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe']

In [8]:
codes = capital["LOCATION"]
names = capital["Country"]
code_to_name = dict(zip(codes, names))

In [10]:
productivity = pd.read_csv("H:/Dissertation/productivity.csv")
print(productivity)
productivity["country"] = productivity["LOCATION"].replace(code_to_name)
print(productivity)
productivity_country_list = productivity["LOCATION"].replace(code_to_name).unique()
print(productivity_country_list)

      LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value Flag Codes
0          AUT  GDPHRWKD     TOT     USD         A  2018  68.309455        NaN
1          AUT  GDPHRWKD     TOT     USD         A  2019  68.309868        NaN
2          AUT  GDPHRWKD     TOT     USD         A  2020  69.970148        NaN
3          AUT  GDPHRWKD     TOT     USD         A  2021  69.634603        NaN
4          BEL  GDPHRWKD     TOT     USD         A  2018  71.681631        NaN
..         ...       ...     ...     ...       ...   ...        ...        ...
117        ROU  GDPHRWKD     TOT     USD         A  2021  37.514761        NaN
118  EU27_2020  GDPHRWKD     TOT     USD         A  2018  53.904831        NaN
119  EU27_2020  GDPHRWKD     TOT     USD         A  2019  54.462041        NaN
120  EU27_2020  GDPHRWKD     TOT     USD         A  2020  55.142460        NaN
121  EU27_2020  GDPHRWKD     TOT     USD         A  2021  55.296144        NaN

[122 rows x 8 columns]
      LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value  \
0          AUT  GDPHRWKD     TOT     USD         A  2018  68.309455
1          AUT  GDPHRWKD     TOT     USD         A  2019  68.309868
2          AUT  GDPHRWKD     TOT     USD         A  2020  69.970148
3          AUT  GDPHRWKD     TOT     USD         A  2021  69.634603
4          BEL  GDPHRWKD     TOT     USD         A  2018  71.681631
..         ...       ...     ...     ...       ...   ...        ...
117        ROU  GDPHRWKD     TOT     USD         A  2021  37.514761
118  EU27_2020  GDPHRWKD     TOT     USD         A  2018  53.904831
119  EU27_2020  GDPHRWKD     TOT     USD         A  2019  54.462041
120  EU27_2020  GDPHRWKD     TOT     USD         A  2020  55.142460
121  EU27_2020  GDPHRWKD     TOT     USD         A  2021  55.296144

    Flag Codes    country
0          NaN    Austria
1          NaN    Austria
2          NaN    Austria
3          NaN    Austria
4          NaN    Belgium
..         ...        ...
117        NaN        ROU
118        NaN  EU27_2020
119        NaN  EU27_2020
120        NaN  EU27_2020
121        NaN  EU27_2020

[122 rows x 9 columns]
['Austria' 'Belgium' 'Canada' 'Czech Republic' 'Denmark' 'Finland'
 'France' 'Germany' 'Greece' 'Hungary' 'Ireland' 'Italy' 'Japan'
 'Luxembourg' 'Netherlands' 'Poland' 'Portugal' 'Slovak Republic' 'Spain'
 'Sweden' 'United Kingdom' 'Estonia' 'Slovenia' 'OECD' 'EU28' 'Latvia'
 'Lithuania' 'BGR' 'HRV' 'ROU' 'EU27_2020']

In [11]:
gdp = pd.read_csv("H:/Dissertation/gdp.csv")
gdp["country"] = gdp["LOCATION"].replace(code_to_name)
gdp2020 = gdp[gdp["TIME"] == 2020]
print(gdp2020)

gdp_country_list = gdp2020["LOCATION"].replace(code_to_name).unique()
print(gdp_country_list)

    LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME         Value  \
3        AUS       GDP     TOT  USD_CAP         A  2020  55690.918600
7        AUT       GDP     TOT  USD_CAP         A  2020  57253.300560
11       BEL       GDP     TOT  USD_CAP         A  2020  54539.032530
15       CAN       GDP     TOT  USD_CAP         A  2020  47228.372490
19       CZE       GDP     TOT  USD_CAP         A  2020  42813.741340
..       ...       ...     ...      ...       ...   ...           ...
240      ALB       GDP     TOT  USD_CAP         A  2020  14033.967210
244      SRB       GDP     TOT  USD_CAP         A  2020  19547.725670
248      GEO       GDP     TOT  USD_CAP         A  2020  14731.202570
252      CMR       GDP     TOT  USD_CAP         A  2020   3867.183996
256      SEN       GDP     TOT  USD_CAP         A  2020   3513.149951

    Flag Codes         country
3          NaN       Australia
7          NaN         Austria
11           P         Belgium
15         NaN          Canada
19         NaN  Czech Republic
..         ...             ...
240          P             ALB
244        NaN             SRB
248        NaN             GEO
252        NaN             CMR
256        NaN             SEN

[62 rows x 9 columns]
['Australia' 'Austria' 'Belgium' 'Canada' 'Czech Republic' 'Denmark'
 'Finland' 'France' 'Germany' 'Greece' 'Hungary' 'ISL' 'Ireland' 'Italy'
 'Japan' 'Korea' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand'
 'Norway' 'Poland' 'Portugal' 'Slovak Republic' 'Spain' 'Sweden'
 'Switzerland' 'TUR' 'United Kingdom' 'United States' 'CHL' 'CHN' 'COL'
 'Estonia' 'Israel' 'Russia' 'Slovenia' 'South Africa' 'OECD' 'OECDE'
 'Latvia' 'Lithuania' 'SAU' 'EA19' 'ARG' 'Costa Rica' 'BGR' 'HRV' 'CYP'
 'MLT' 'ROU' 'ZMB' 'HKG' 'MDG' 'MAR' 'SGP' 'EU27_2020' 'ALB' 'SRB' 'GEO'
 'CMR' 'SEN']

In [14]:
common_countries = list(set(productivity_country_list) & set(gdp_country_list) & set(labour_countries_list) & set(capital_country_list) & set(desi_country_list))
common_countries.sort()
print(len(common_countries))

19

In [15]:
desi_list = []
for country in common_countries:
    desi_list.append(aggregate_desi(country))
print(desi_list)
print(len(desi_list))

[54.675675, 50.3074, 69.33382499999999, 56.512325000000004, 69.59762500000001, 53.329125000000005, 52.883, 38.931124999999994, 43.759625, 49.25375, 49.710725, 52.714400000000005, 58.851425, 67.369575, 40.547475, 50.756625, 53.370425, 60.772549999999995, 65.223025]
19

In [16]:
print(gdp2020)
gdp_filtered = gdp2020[gdp2020["country"].isin(common_countries)]
gdp_sorted = gdp_filtered.sort_values("country")
print(gdp_sorted)
gdp_final = gdp_filtered["Value"]
print(gdp_final)
print(len(gdp_final))

    LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME         Value  \
3        AUS       GDP     TOT  USD_CAP         A  2020  55690.918600
7        AUT       GDP     TOT  USD_CAP         A  2020  57253.300560
11       BEL       GDP     TOT  USD_CAP         A  2020  54539.032530
15       CAN       GDP     TOT  USD_CAP         A  2020  47228.372490
19       CZE       GDP     TOT  USD_CAP         A  2020  42813.741340
..       ...       ...     ...      ...       ...   ...           ...
240      ALB       GDP     TOT  USD_CAP         A  2020  14033.967210
244      SRB       GDP     TOT  USD_CAP         A  2020  19547.725670
248      GEO       GDP     TOT  USD_CAP         A  2020  14731.202570
252      CMR       GDP     TOT  USD_CAP         A  2020   3867.183996
256      SEN       GDP     TOT  USD_CAP         A  2020   3513.149951

    Flag Codes         country
3          NaN       Australia
7          NaN         Austria
11           P         Belgium
15         NaN          Canada
19         NaN  Czech Republic
..         ...             ...
240          P             ALB
244        NaN             SRB
248        NaN             GEO
252        NaN             CMR
256        NaN             SEN

[62 rows x 9 columns]
    LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME         Value  \
7        AUT       GDP     TOT  USD_CAP         A  2020   57253.30056
11       BEL       GDP     TOT  USD_CAP         A  2020   54539.03253
23       DNK       GDP     TOT  USD_CAP         A  2020   60840.94016
135      EST       GDP     TOT  USD_CAP         A  2020   39456.81210
27       FIN       GDP     TOT  USD_CAP         A  2020   52289.30316
31       FRA       GDP     TOT  USD_CAP         A  2020   47823.91958
35       DEU       GDP     TOT  USD_CAP         A  2020   56476.93431
39       GRC       GDP     TOT  USD_CAP         A  2020   28413.78734
43       HUN       GDP     TOT  USD_CAP         A  2020   34156.84004
55       ITA       GDP     TOT  USD_CAP         A  2020   43129.89668
167      LVA       GDP     TOT  USD_CAP         A  2020   33008.22564
174      LTU       GDP     TOT  USD_CAP         A  2020   40124.47344
67       LUX       GDP     TOT  USD_CAP         A  2020  119871.42940
75       NLD       GDP     TOT  USD_CAP         A  2020   59815.50154
87       POL       GDP     TOT  USD_CAP         A  2020   34893.45977
91       PRT       GDP     TOT  USD_CAP         A  2020   34952.24306
151      SVN       GDP     TOT  USD_CAP         A  2020   40860.47078
99       ESP       GDP     TOT  USD_CAP         A  2020   37992.36888
103      SWE       GDP     TOT  USD_CAP         A  2020   56135.14136

    Flag Codes      country
7          NaN      Austria
11           P      Belgium
23         NaN      Denmark
135        NaN      Estonia
27         NaN      Finland
31         NaN       France
35           P      Germany
39           P       Greece
43           P      Hungary
55         NaN        Italy
167        NaN       Latvia
174        NaN    Lithuania
67         NaN   Luxembourg
75           P  Netherlands
87         NaN       Poland
91         NaN     Portugal
151        NaN     Slovenia
99           P        Spain
103        NaN       Sweden
7       57253.30056
11      54539.03253
23      60840.94016
27      52289.30316
31      47823.91958
35      56476.93431
39      28413.78734
43      34156.84004
55      43129.89668
67     119871.42940
75      59815.50154
87      34893.45977
91      34952.24306
99      37992.36888
103     56135.14136
135     39456.81210
151     40860.47078
167     33008.22564
174     40124.47344
Name: Value, dtype: float64
19

In [17]:
labour_filtered = labour[labour["Country Name"].isin(common_countries)]
print(labour_filtered)
labour_sorted = labour_filtered.sort_values("Country Name")
print(labour_sorted)
labour_final = labour_sorted[2020]
print(labour_final)
print(len(labour_final))

3   Country Name Country Code      Indicator Name  Indicator Code  1960.0  \
14       Austria          AUT  Labor force, total  SL.TLF.TOTL.IN     NaN
17       Belgium          BEL  Labor force, total  SL.TLF.TOTL.IN     NaN
55       Germany          DEU  Labor force, total  SL.TLF.TOTL.IN     NaN
58       Denmark          DNK  Labor force, total  SL.TLF.TOTL.IN     NaN
70         Spain          ESP  Labor force, total  SL.TLF.TOTL.IN     NaN
71       Estonia          EST  Labor force, total  SL.TLF.TOTL.IN     NaN
75       Finland          FIN  Labor force, total  SL.TLF.TOTL.IN     NaN
77        France          FRA  Labor force, total  SL.TLF.TOTL.IN     NaN
89        Greece          GRC  Labor force, total  SL.TLF.TOTL.IN     NaN
101      Hungary          HUN  Labor force, total  SL.TLF.TOTL.IN     NaN
116        Italy          ITA  Labor force, total  SL.TLF.TOTL.IN     NaN
143    Lithuania          LTU  Labor force, total  SL.TLF.TOTL.IN     NaN
144   Luxembourg          LUX  Labor force, total  SL.TLF.TOTL.IN     NaN
145       Latvia          LVA  Labor force, total  SL.TLF.TOTL.IN     NaN
176  Netherlands          NLD  Labor force, total  SL.TLF.TOTL.IN     NaN
190       Poland          POL  Labor force, total  SL.TLF.TOTL.IN     NaN
194     Portugal          PRT  Labor force, total  SL.TLF.TOTL.IN     NaN
222     Slovenia          SVN  Labor force, total  SL.TLF.TOTL.IN     NaN
223       Sweden          SWE  Labor force, total  SL.TLF.TOTL.IN     NaN

3    1961.0  1962.0  1963.0  1964.0  1965.0  ...      2012.0      2013.0  \
14      NaN     NaN     NaN     NaN     NaN  ...   4379686.0   4423190.0
17      NaN     NaN     NaN     NaN     NaN  ...   4910968.0   4962050.0
55      NaN     NaN     NaN     NaN     NaN  ...  41853628.0  42212987.0
58      NaN     NaN     NaN     NaN     NaN  ...   2871734.0   2850392.0
70      NaN     NaN     NaN     NaN     NaN  ...  23713046.0  23470419.0
71      NaN     NaN     NaN     NaN     NaN  ...    684508.0    681106.0
75      NaN     NaN     NaN     NaN     NaN  ...   2702945.0   2688349.0
77      NaN     NaN     NaN     NaN     NaN  ...  30288027.0  30432522.0
89      NaN     NaN     NaN     NaN     NaN  ...   4933603.0   4869679.0
101     NaN     NaN     NaN     NaN     NaN  ...   4383352.0   4417000.0
116     NaN     NaN     NaN     NaN     NaN  ...  25127011.0  25287655.0
143     NaN     NaN     NaN     NaN     NaN  ...   1472231.0   1465316.0
144     NaN     NaN     NaN     NaN     NaN  ...    258659.0    268091.0
145     NaN     NaN     NaN     NaN     NaN  ...   1039903.0   1021195.0
176     NaN     NaN     NaN     NaN     NaN  ...   9013873.0   9054383.0
190     NaN     NaN     NaN     NaN     NaN  ...  18060897.0  18083700.0
194     NaN     NaN     NaN     NaN     NaN  ...   5386961.0   5290953.0
222     NaN     NaN     NaN     NaN     NaN  ...   1012538.0   1007036.0
223     NaN     NaN     NaN     NaN     NaN  ...   5022717.0   5089506.0

3        2014.0      2015.0      2016.0      2017.0      2018.0      2019.0  \
14    4444847.0   4497039.0   4579306.0   4609337.0   4642407.0   4662739.0
17    4978926.0   4989597.0   4997187.0   5086330.0   5144068.0   5194405.0
55   42458390.0  42660627.0  43574366.0  43819028.0  43935037.0  44433742.0
58    2865028.0   2895364.0   2939677.0   2966464.0   2990219.0   3032098.0
70   23230457.0  23182291.0  23096169.0  23011543.0  23076783.0  23301577.0
71     675815.0    686271.0    693623.0    702149.0    705405.0    705769.0
75    2691008.0   2701334.0   2696163.0   2717830.0   2751571.0   2760016.0
77   30411866.0  30494746.0  30513474.0  30547529.0  30691326.0  30652293.0
89    4820448.0   4807198.0   4806004.0   4793475.0   4770041.0   4775900.0
101   4530666.0   4609340.0   4673500.0   4707367.0   4739106.0   4767621.0
116  25689865.0  25654399.0  25932536.0  26103399.0  26164163.0  25907430.0
143   1476890.0   1468508.0   1476945.0   1460791.0   1467697.0   1475085.0
144    278241.0    285050.0    286784.0    296430.0    305430.0    315771.0
145   1006638.0   1009906.0   1004171.0    999649.0   1000243.0    988868.0
176   9031991.0   9095974.0   9128587.0   9194515.0   9310674.0   9466453.0
190  18177104.0  18138615.0  18146120.0  18200188.0  18142237.0  18073683.0
194   5232680.0   5205790.0   5187357.0   5228664.0   5242420.0   5264946.0
222   1013694.0   1006923.0    993963.0   1025695.0   1035092.0   1028559.0
223   5137143.0   5183336.0   5244695.0   5328345.0   5391523.0   5447661.0

3        2020.0      2021.0
14    4638300.0   4660820.0
17    5168148.0   5240308.0
55   44182576.0  43967641.0
58    3028252.0   3050671.0
70   22994242.0  23381693.0
71     706678.0    704674.0
75    2752889.0   2819540.0
77   30379166.0  31132290.0
89    4682727.0   4619069.0
101   4740236.0   4910191.0
116  25126336.0  25011706.0
143   1486169.0   1475531.0
144    322041.0    333946.0
145    988585.0    955041.0
176   9502135.0   9902465.0
190  17994973.0  18211900.0
194   5168086.0   5173674.0
222   1029922.0   1035817.0
223   5481803.0   5555561.0

[19 rows x 66 columns]
3   Country Name Country Code      Indicator Name  Indicator Code  1960.0  \
14       Austria          AUT  Labor force, total  SL.TLF.TOTL.IN     NaN
17       Belgium          BEL  Labor force, total  SL.TLF.TOTL.IN     NaN
58       Denmark          DNK  Labor force, total  SL.TLF.TOTL.IN     NaN
71       Estonia          EST  Labor force, total  SL.TLF.TOTL.IN     NaN
75       Finland          FIN  Labor force, total  SL.TLF.TOTL.IN     NaN
77        France          FRA  Labor force, total  SL.TLF.TOTL.IN     NaN
55       Germany          DEU  Labor force, total  SL.TLF.TOTL.IN     NaN
89        Greece          GRC  Labor force, total  SL.TLF.TOTL.IN     NaN
101      Hungary          HUN  Labor force, total  SL.TLF.TOTL.IN     NaN
116        Italy          ITA  Labor force, total  SL.TLF.TOTL.IN     NaN
145       Latvia          LVA  Labor force, total  SL.TLF.TOTL.IN     NaN
143    Lithuania          LTU  Labor force, total  SL.TLF.TOTL.IN     NaN
144   Luxembourg          LUX  Labor force, total  SL.TLF.TOTL.IN     NaN
176  Netherlands          NLD  Labor force, total  SL.TLF.TOTL.IN     NaN
190       Poland          POL  Labor force, total  SL.TLF.TOTL.IN     NaN
194     Portugal          PRT  Labor force, total  SL.TLF.TOTL.IN     NaN
222     Slovenia          SVN  Labor force, total  SL.TLF.TOTL.IN     NaN
70         Spain          ESP  Labor force, total  SL.TLF.TOTL.IN     NaN
223       Sweden          SWE  Labor force, total  SL.TLF.TOTL.IN     NaN

3    1961.0  1962.0  1963.0  1964.0  1965.0  ...      2012.0      2013.0  \
14      NaN     NaN     NaN     NaN     NaN  ...   4379686.0   4423190.0
17      NaN     NaN     NaN     NaN     NaN  ...   4910968.0   4962050.0
58      NaN     NaN     NaN     NaN     NaN  ...   2871734.0   2850392.0
71      NaN     NaN     NaN     NaN     NaN  ...    684508.0    681106.0
75      NaN     NaN     NaN     NaN     NaN  ...   2702945.0   2688349.0
77      NaN     NaN     NaN     NaN     NaN  ...  30288027.0  30432522.0
55      NaN     NaN     NaN     NaN     NaN  ...  41853628.0  42212987.0
89      NaN     NaN     NaN     NaN     NaN  ...   4933603.0   4869679.0
101     NaN     NaN     NaN     NaN     NaN  ...   4383352.0   4417000.0
116     NaN     NaN     NaN     NaN     NaN  ...  25127011.0  25287655.0
145     NaN     NaN     NaN     NaN     NaN  ...   1039903.0   1021195.0
143     NaN     NaN     NaN     NaN     NaN  ...   1472231.0   1465316.0
144     NaN     NaN     NaN     NaN     NaN  ...    258659.0    268091.0
176     NaN     NaN     NaN     NaN     NaN  ...   9013873.0   9054383.0
190     NaN     NaN     NaN     NaN     NaN  ...  18060897.0  18083700.0
194     NaN     NaN     NaN     NaN     NaN  ...   5386961.0   5290953.0
222     NaN     NaN     NaN     NaN     NaN  ...   1012538.0   1007036.0
70      NaN     NaN     NaN     NaN     NaN  ...  23713046.0  23470419.0
223     NaN     NaN     NaN     NaN     NaN  ...   5022717.0   5089506.0

3        2014.0      2015.0      2016.0      2017.0      2018.0      2019.0  \
14    4444847.0   4497039.0   4579306.0   4609337.0   4642407.0   4662739.0
17    4978926.0   4989597.0   4997187.0   5086330.0   5144068.0   5194405.0
58    2865028.0   2895364.0   2939677.0   2966464.0   2990219.0   3032098.0
71     675815.0    686271.0    693623.0    702149.0    705405.0    705769.0
75    2691008.0   2701334.0   2696163.0   2717830.0   2751571.0   2760016.0
77   30411866.0  30494746.0  30513474.0  30547529.0  30691326.0  30652293.0
55   42458390.0  42660627.0  43574366.0  43819028.0  43935037.0  44433742.0
89    4820448.0   4807198.0   4806004.0   4793475.0   4770041.0   4775900.0
101   4530666.0   4609340.0   4673500.0   4707367.0   4739106.0   4767621.0
116  25689865.0  25654399.0  25932536.0  26103399.0  26164163.0  25907430.0
145   1006638.0   1009906.0   1004171.0    999649.0   1000243.0    988868.0
143   1476890.0   1468508.0   1476945.0   1460791.0   1467697.0   1475085.0
144    278241.0    285050.0    286784.0    296430.0    305430.0    315771.0
176   9031991.0   9095974.0   9128587.0   9194515.0   9310674.0   9466453.0
190  18177104.0  18138615.0  18146120.0  18200188.0  18142237.0  18073683.0
194   5232680.0   5205790.0   5187357.0   5228664.0   5242420.0   5264946.0
222   1013694.0   1006923.0    993963.0   1025695.0   1035092.0   1028559.0
70   23230457.0  23182291.0  23096169.0  23011543.0  23076783.0  23301577.0
223   5137143.0   5183336.0   5244695.0   5328345.0   5391523.0   5447661.0

3        2020.0      2021.0
14    4638300.0   4660820.0
17    5168148.0   5240308.0
58    3028252.0   3050671.0
71     706678.0    704674.0
75    2752889.0   2819540.0
77   30379166.0  31132290.0
55   44182576.0  43967641.0
89    4682727.0   4619069.0
101   4740236.0   4910191.0
116  25126336.0  25011706.0
145    988585.0    955041.0
143   1486169.0   1475531.0
144    322041.0    333946.0
176   9502135.0   9902465.0
190  17994973.0  18211900.0
194   5168086.0   5173674.0
222   1029922.0   1035817.0
70   22994242.0  23381693.0
223   5481803.0   5555561.0

[19 rows x 66 columns]
14      4638300.0
17      5168148.0
58      3028252.0
71       706678.0
75      2752889.0
77     30379166.0
55     44182576.0
89      4682727.0
101     4740236.0
116    25126336.0
145      988585.0
143     1486169.0
144      322041.0
176     9502135.0
190    17994973.0
194     5168086.0
222     1029922.0
70     22994242.0
223     5481803.0
Name: 2020.0, dtype: float64
19

In [18]:
print(capital2020)
capital_filtered = capital2020[capital2020["Country"].isin(common_countries)]
capital_sorted = capital_filtered.sort_values("Country")
print(capital_sorted)
capital_final = capital_filtered["Value"]
print(capital_final)
print(len(capital_final))

   LOCATION          Country   INDICATOR  \
0       AUS        Australia  AN11NVIXOB
1       AUT          Austria  AN11NVIXOB
2       BEL          Belgium  AN11NVIXOB
3       CAN           Canada  AN11NVIXOB
4       CZE          Czechia  AN11NVIXOB
5       FIN          Finland  AN11NVIXOB
6       FRA           France  AN11NVIXOB
7       DEU          Germany  AN11NVIXOB
8       HUN          Hungary  AN11NVIXOB
9       ITA            Italy  AN11NVIXOB
10      NLD      Netherlands  AN11NVIXOB
11      POL           Poland  AN11NVIXOB
12      SVK  Slovak Republic  AN11NVIXOB
13      SWE           Sweden  AN11NVIXOB
14      USA    United States  AN11NVIXOB
15      EST          Estonia  AN11NVIXOB
16      SVN         Slovenia  AN11NVIXOB
17      DNK          Denmark  AN11NVIXOB
18      GBR   United Kingdom  AN11NVIXOB
19      GRC           Greece  AN11NVIXOB
20      LVA           Latvia  AN11NVIXOB
21      LUX       Luxembourg  AN11NVIXOB
22      JPN            Japan  AN11NVIXOB
23      PRT         Portugal  AN11NVIXOB
24      LTU        Lithuania  AN11NVIXOB
25      ESP            Spain  AN11NVIXOB

                                     Indicator  TIME  Time  Unit Code  Unit  \
0   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
1   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
2   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
3   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
4   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
5   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
6   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
7   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
8   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
9   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
10  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
11  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
12  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
13  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
14  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
15  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
16  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
17  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
18  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
19  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
20  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
21  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
22  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
23  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
24  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
25  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN

    PowerCode Code PowerCode  Reference Period Code  Reference Period  \
0                0     Units                    NaN               NaN
1                0     Units                    NaN               NaN
2                0     Units                    NaN               NaN
3                0     Units                    NaN               NaN
4                0     Units                    NaN               NaN
5                0     Units                    NaN               NaN
6                0     Units                    NaN               NaN
7                0     Units                    NaN               NaN
8                0     Units                    NaN               NaN
9                0     Units                    NaN               NaN
10               0     Units                    NaN               NaN
11               0     Units                    NaN               NaN
12               0     Units                    NaN               NaN
13               0     Units                    NaN               NaN
14               0     Units                    NaN               NaN
15               0     Units                    NaN               NaN
16               0     Units                    NaN               NaN
17               0     Units                    NaN               NaN
18               0     Units                    NaN               NaN
19               0     Units                    NaN               NaN
20               0     Units                    NaN               NaN
21               0     Units                    NaN               NaN
22               0     Units                    NaN               NaN
23               0     Units                    NaN               NaN
24               0     Units                    NaN               NaN
25               0     Units                    NaN               NaN

         Value Flag Codes                      Flags
0   109.553878        NaN                        NaN
1   107.527495        NaN                        NaN
2   108.356983          E            Estimated value
3   108.830443        NaN                        NaN
4   112.471778        NaN                        NaN
5   107.373047        NaN                        NaN
6   105.814214          E            Estimated value
7   104.215454          E            Estimated value
8   108.788504        NaN                        NaN
9    99.631874        NaN                        NaN
10  107.196714        NaN                        NaN
11  114.213050        NaN                        NaN
12  109.259242        NaN                        NaN
13  111.509484          D  Difference in methodology
14  107.338049        NaN                        NaN
15  118.801299        NaN                        NaN
16   99.372142        NaN                        NaN
17  111.295010        NaN                        NaN
18  107.464019        NaN                        NaN
19   90.566558          E            Estimated value
20   99.744933        NaN                        NaN
21  114.388246        NaN                        NaN
22  101.559542        NaN                        NaN
23   99.034548        NaN                        NaN
24  115.895004        NaN                        NaN
25  104.484148          E            Estimated value
   LOCATION      Country   INDICATOR  \
1       AUT      Austria  AN11NVIXOB
2       BEL      Belgium  AN11NVIXOB
17      DNK      Denmark  AN11NVIXOB
15      EST      Estonia  AN11NVIXOB
5       FIN      Finland  AN11NVIXOB
6       FRA       France  AN11NVIXOB
7       DEU      Germany  AN11NVIXOB
19      GRC       Greece  AN11NVIXOB
8       HUN      Hungary  AN11NVIXOB
9       ITA        Italy  AN11NVIXOB
20      LVA       Latvia  AN11NVIXOB
24      LTU    Lithuania  AN11NVIXOB
21      LUX   Luxembourg  AN11NVIXOB
10      NLD  Netherlands  AN11NVIXOB
11      POL       Poland  AN11NVIXOB
23      PRT     Portugal  AN11NVIXOB
16      SVN     Slovenia  AN11NVIXOB
25      ESP        Spain  AN11NVIXOB
13      SWE       Sweden  AN11NVIXOB

                                     Indicator  TIME  Time  Unit Code  Unit  \
1   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
2   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
17  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
15  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
5   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
6   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
7   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
19  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
8   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
9   Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
20  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
24  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
21  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
10  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
11  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
23  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
16  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
25  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN
13  Net capital stock, volume, year 2015 = 100  2020  2020        NaN   NaN

    PowerCode Code PowerCode  Reference Period Code  Reference Period  \
1                0     Units                    NaN               NaN
2                0     Units                    NaN               NaN
17               0     Units                    NaN               NaN
15               0     Units                    NaN               NaN
5                0     Units                    NaN               NaN
6                0     Units                    NaN               NaN
7                0     Units                    NaN               NaN
19               0     Units                    NaN               NaN
8                0     Units                    NaN               NaN
9                0     Units                    NaN               NaN
20               0     Units                    NaN               NaN
24               0     Units                    NaN               NaN
21               0     Units                    NaN               NaN
10               0     Units                    NaN               NaN
11               0     Units                    NaN               NaN
23               0     Units                    NaN               NaN
16               0     Units                    NaN               NaN
25               0     Units                    NaN               NaN
13               0     Units                    NaN               NaN

         Value Flag Codes                      Flags
1   107.527495        NaN                        NaN
2   108.356983          E            Estimated value
17  111.295010        NaN                        NaN
15  118.801299        NaN                        NaN
5   107.373047        NaN                        NaN
6   105.814214          E            Estimated value
7   104.215454          E            Estimated value
19   90.566558          E            Estimated value
8   108.788504        NaN                        NaN
9    99.631874        NaN                        NaN
20   99.744933        NaN                        NaN
24  115.895004        NaN                        NaN
21  114.388246        NaN                        NaN
10  107.196714        NaN                        NaN
11  114.213050        NaN                        NaN
23   99.034548        NaN                        NaN
16   99.372142        NaN                        NaN
25  104.484148          E            Estimated value
13  111.509484          D  Difference in methodology
1     107.527495
2     108.356983
5     107.373047
6     105.814214
7     104.215454
8     108.788504
9      99.631874
10    107.196714
11    114.213050
13    111.509484
15    118.801299
16     99.372142
17    111.295010
19     90.566558
20     99.744933
21    114.388246
23     99.034548
24    115.895004
25    104.484148
Name: Value, dtype: float64
19

In [20]:
print(productivity)
prod_2020 = productivity[productivity["TIME"] == 2020]
print(prod_2020)
prod_filtered = prod_2020[prod_2020["country"].isin(common_countries)]
print(prod_filtered)
prod_sorted = prod_filtered.sort_values("country")
prod_final = prod_sorted["Value"]
print(list(prod_final))

      LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value  \
0          AUT  GDPHRWKD     TOT     USD         A  2018  68.309455
1          AUT  GDPHRWKD     TOT     USD         A  2019  68.309868
2          AUT  GDPHRWKD     TOT     USD         A  2020  69.970148
3          AUT  GDPHRWKD     TOT     USD         A  2021  69.634603
4          BEL  GDPHRWKD     TOT     USD         A  2018  71.681631
..         ...       ...     ...     ...       ...   ...        ...
117        ROU  GDPHRWKD     TOT     USD         A  2021  37.514761
118  EU27_2020  GDPHRWKD     TOT     USD         A  2018  53.904831
119  EU27_2020  GDPHRWKD     TOT     USD         A  2019  54.462041
120  EU27_2020  GDPHRWKD     TOT     USD         A  2020  55.142460
121  EU27_2020  GDPHRWKD     TOT     USD         A  2021  55.296144

    Flag Codes    country
0          NaN    Austria
1          NaN    Austria
2          NaN    Austria
3          NaN    Austria
4          NaN    Belgium
..         ...        ...
117        NaN        ROU
118        NaN  EU27_2020
119        NaN  EU27_2020
120        NaN  EU27_2020
121        NaN  EU27_2020

[122 rows x 9 columns]
      LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME       Value  \
2          AUT  GDPHRWKD     TOT     USD         A  2020   69.970148
6          BEL  GDPHRWKD     TOT     USD         A  2020   74.541737
10         CAN  GDPHRWKD     TOT     USD         A  2020   56.971404
14         CZE  GDPHRWKD     TOT     USD         A  2020   43.289836
18         DNK  GDPHRWKD     TOT     USD         A  2020   75.083567
22         FIN  GDPHRWKD     TOT     USD         A  2020   61.675189
26         FRA  GDPHRWKD     TOT     USD         A  2020   67.757324
30         DEU  GDPHRWKD     TOT     USD         A  2020   67.714113
34         GRC  GDPHRWKD     TOT     USD         A  2020   33.996081
38         HUN  GDPHRWKD     TOT     USD         A  2020   38.366856
42         IRL  GDPHRWKD     TOT     USD         A  2020  120.281397
46         ITA  GDPHRWKD     TOT     USD         A  2020   55.284372
50         JPN  GDPHRWKD     TOT     USD         A  2020   46.790715
54         LUX  GDPHRWKD     TOT     USD         A  2020  101.100090
58         NLD  GDPHRWKD     TOT     USD         A  2020   66.689781
62         POL  GDPHRWKD     TOT     USD         A  2020   41.230426
66         PRT  GDPHRWKD     TOT     USD         A  2020   40.114162
70         SVK  GDPHRWKD     TOT     USD         A  2020   46.742652
74         ESP  GDPHRWKD     TOT     USD         A  2020   52.648278
78         SWE  GDPHRWKD     TOT     USD         A  2020   71.857873
82         GBR  GDPHRWKD     TOT     USD         A  2020   60.202901
86         EST  GDPHRWKD     TOT     USD         A  2020   42.940260
90         SVN  GDPHRWKD     TOT     USD         A  2020   45.858710
94        OECD  GDPHRWKD     TOT     USD         A  2020   54.044976
100        LVA  GDPHRWKD     TOT     USD         A  2020   39.391199
104        LTU  GDPHRWKD     TOT     USD         A  2020   44.685245
108        BGR  GDPHRWKD     TOT     USD         A  2020   25.775778
112        HRV  GDPHRWKD     TOT     USD         A  2020   33.402665
116        ROU  GDPHRWKD     TOT     USD         A  2020   32.846876
120  EU27_2020  GDPHRWKD     TOT     USD         A  2020   55.142460

    Flag Codes          country
2          NaN          Austria
6          NaN          Belgium
10         NaN           Canada
14         NaN   Czech Republic
18         NaN          Denmark
22         NaN          Finland
26         NaN           France
30         NaN          Germany
34         NaN           Greece
38         NaN          Hungary
42         NaN          Ireland
46         NaN            Italy
50         NaN            Japan
54         NaN       Luxembourg
58         NaN      Netherlands
62         NaN           Poland
66         NaN         Portugal
70         NaN  Slovak Republic
74         NaN            Spain
78         NaN           Sweden
82         NaN   United Kingdom
86         NaN          Estonia
90         NaN         Slovenia
94         NaN             OECD
100        NaN           Latvia
104        NaN        Lithuania
108        NaN              BGR
112        NaN              HRV
116        NaN              ROU
120        NaN        EU27_2020
    LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME       Value Flag Codes  \
2        AUT  GDPHRWKD     TOT     USD         A  2020   69.970148        NaN
6        BEL  GDPHRWKD     TOT     USD         A  2020   74.541737        NaN
18       DNK  GDPHRWKD     TOT     USD         A  2020   75.083567        NaN
22       FIN  GDPHRWKD     TOT     USD         A  2020   61.675189        NaN
26       FRA  GDPHRWKD     TOT     USD         A  2020   67.757324        NaN
30       DEU  GDPHRWKD     TOT     USD         A  2020   67.714113        NaN
34       GRC  GDPHRWKD     TOT     USD         A  2020   33.996081        NaN
38       HUN  GDPHRWKD     TOT     USD         A  2020   38.366856        NaN
46       ITA  GDPHRWKD     TOT     USD         A  2020   55.284372        NaN
54       LUX  GDPHRWKD     TOT     USD         A  2020  101.100090        NaN
58       NLD  GDPHRWKD     TOT     USD         A  2020   66.689781        NaN
62       POL  GDPHRWKD     TOT     USD         A  2020   41.230426        NaN
66       PRT  GDPHRWKD     TOT     USD         A  2020   40.114162        NaN
74       ESP  GDPHRWKD     TOT     USD         A  2020   52.648278        NaN
78       SWE  GDPHRWKD     TOT     USD         A  2020   71.857873        NaN
86       EST  GDPHRWKD     TOT     USD         A  2020   42.940260        NaN
90       SVN  GDPHRWKD     TOT     USD         A  2020   45.858710        NaN
100      LVA  GDPHRWKD     TOT     USD         A  2020   39.391199        NaN
104      LTU  GDPHRWKD     TOT     USD         A  2020   44.685245        NaN

         country
2        Austria
6        Belgium
18       Denmark
22       Finland
26        France
30       Germany
34        Greece
38       Hungary
46         Italy
54    Luxembourg
58   Netherlands
62        Poland
66      Portugal
74         Spain
78        Sweden
86       Estonia
90      Slovenia
100       Latvia
104    Lithuania
[69.970148, 74.541737, 75.083567, 42.94026, 61.675189, 67.757324, 67.714113, 33.996081, 38.366856, 55.284372, 39.391199, 44.685245, 101.10009, 66.689781, 41.230426, 40.114162, 45.85871, 52.648278, 71.857873]

In [22]:
# create final df
final_df = pd.DataFrame({
    "country": common_countries,
    "labour": labour_final,
    "DESI": desi_list,
    "GDP": list(gdp_final),
    "capital": list(capital_final),
    "productivity": list(prod_final)
})

print(final_df)

         country      labour       DESI           GDP     capital  \
14       Austria   4638300.0  54.675675   57253.30056  107.527495
17       Belgium   5168148.0  50.307400   54539.03253  108.356983
58       Denmark   3028252.0  69.333825   60840.94016  107.373047
71       Estonia    706678.0  56.512325   52289.30316  105.814214
75       Finland   2752889.0  69.597625   47823.91958  104.215454
77        France  30379166.0  53.329125   56476.93431  108.788504
55       Germany  44182576.0  52.883000   28413.78734   99.631874
89        Greece   4682727.0  38.931125   34156.84004  107.196714
101      Hungary   4740236.0  43.759625   43129.89668  114.213050
116        Italy  25126336.0  49.253750  119871.42940  111.509484
145       Latvia    988585.0  49.710725   59815.50154  118.801299
143    Lithuania   1486169.0  52.714400   34893.45977   99.372142
144   Luxembourg    322041.0  58.851425   34952.24306  111.295010
176  Netherlands   9502135.0  67.369575   37992.36888   90.566558
190       Poland  17994973.0  40.547475   56135.14136   99.744933
194     Portugal   5168086.0  50.756625   39456.81210  114.388246
222     Slovenia   1029922.0  53.370425   40860.47078   99.034548
70         Spain  22994242.0  60.772550   33008.22564  115.895004
223       Sweden   5481803.0  65.223025   40124.47344  104.484148

     productivity
14      69.970148
17      74.541737
58      75.083567
71      42.940260
75      61.675189
77      67.757324
55      67.714113
89      33.996081
101     38.366856
116     55.284372
145     39.391199
143     44.685245
144    101.100090
176     66.689781
190     41.230426
194     40.114162
222     45.858710
70      52.648278
223     71.857873

In [22]:
#log the values
final_df["log_Y"] = np.log(final_df["GDP"])
final_df["log_K"] = np.log(final_df["capital"])
final_df["log_desi"] = np.log(final_df["DESI"])
final_df["log_A"] = np.log(final_df["productivity"])nal_df["log_L"] = np.log(final_df["labour"])

In [31]:
#REGRESSION
X = final_df[["log_desi", "log_K", "log_A", "log_L"]]
y = final_df["log_Y"]
X = sm.add_constant(X)
model = sm.OLS(y, X)
results = model.fit()
print(results.params)

const       3.927541
log_desi   -0.149145
log_K       1.385131
log_A       0.115901
log_L       0.031237
dtype: float64

In [32]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  log_Y   R-squared:                       0.100
Model:                            OLS   Adj. R-squared:                 -0.157
Method:                 Least Squares   F-statistic:                    0.3891
Date:                Mon, 10 Apr 2023   Prob (F-statistic):              0.813
Time:                        15:31:33   Log-Likelihood:                -4.1822
No. Observations:                  19   AIC:                             18.36
Df Residuals:                      14   BIC:                             23.09
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.9275      7.053      0.557      0.586     -11.200      19.055
log_desi      -0.1491      0.687     -0.217      0.831      -1.624       1.325
log_K          1.3851      1.285      1.078      0.299      -1.370       4.141
log_A          0.1159      0.368      0.315      0.758      -0.674       0.906
log_L          0.0312      0.063      0.495      0.629      -0.104       0.167
==============================================================================
Omnibus:                        3.557   Durbin-Watson:                   1.623
Prob(Omnibus):                  0.169   Jarque-Bera (JB):                1.602
Skew:                           0.573   Prob(JB):                        0.449
Kurtosis:                       3.844   Cond. No.                     1.52e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.52e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [39]:
# Breusch-Pagan test
names = ["Lagrange multiplier statistic", "p-value", "f-value", "f p-value"]
test_results = sms.het_breuschpagan(results.resid, results.model.exog)
lzip(names, test_results)

[('Lagrange multiplier statistic', 3.382212087495115),
 ('p-value', 0.3363631811678049),
 ('f-value', 1.0828076634294155),
 ('f p-value', 0.3863805414258013)]